/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixins';

* {
  font-family: 'Montserrat', sans-serif;
  color: $title-color;
  font-weight: 400;
}

body {
  background: url('../images/hogwarts-light.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 250%;
  color: $title-color;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
}

.login-screen {
  height: 1000px;
  width: 1000px;
  color: $title-color;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 130%;
  height: 20%;
  justify-content: space-between;
  width: 42%;
  margin-left: 60px;
}

.login-block {
  display: flex;
  flex-direction: column;
  width: 185px;
}

.login-label {
  padding: 4px;
}

input {
  border-radius: 3px;
  border: 3px solid $dark-blue-bg;
  color: $dark-olive-color;
  font-size: 87%;
  height: 30px;
  padding: 5px;
}

.login-btns {
  margin-top: 30px;
  background-color: $dark-olive-color;
  border: 3px solid $dark-blue-bg;
  border-radius: 3px;
  color: $title-color;
  height: 45px;
  width: 100%;
  font-size: 87%;
}

input,
::placeholder {
  color: $dark-olive-color;
}

.customer-view {
  background-color: $dark-blue-bg;
  opacity: 90%;
  border: 6px ridge $title-color;
  // height: 100vh;
  width: 95%;
  margin-left: 25px; 
}

.manager-view {
  background-color: $dark-olive-color;
  opacity: 90%;
  border: 6px ridge $title-color;
  width: 95%;
  margin-left: 25px; 
}

.daily-displays,
.customer-history {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.section-separator {
  border: 2px solid $title-color;
  width: 90%;
  margin: auto auto 40px auto;
}

.display-todays-date {
  font-family: 'Cinzel', serif;
  font-size: 245%;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  font-style: italic;
}

.days-report,
.customer-report {
  font-size: 180%;
}

.display-dash-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: -30px;
}

.num-stat {
  font-size: 165%;
  margin-left: 20px;
  font-weight: 600;
}

.customer-reservations {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 145%;
  flex-wrap: wrap;
}

.res-list {
  flex-wrap: wrap; 
}

.sep-dates {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.booking-header {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 200%;
}

.booking-block {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.mgr-find-user,
.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto auto 3% 25%;
  text-align: center;
  width: 50%;
}

.filter-btn,
.find-room-btn {
  background-color: $dark-blue-bg;
  border: 2px solid $title-color;
  border-radius: 3px;
  font-size: 100%;
  height: 40px;
  margin-top: 10px;
  width: 199px;
}

.delete-btn,
.mgr-find-res-btn {
  background-color: $dark-olive-color;
  border: 2px solid $title-color;
  border-radius: 3px;
  font-size: 100%;
  height: 40px;
  margin-top: 10px;
  width: 244px;
}

.filter-input,
.start-date-input {
  height: 35px;
  border-radius: 4px;
  border: 3px solid #26272D;
}

#display-filtered,
#display-rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.filter-room-type {
  display: flex;
  flex-direction: column;
}

.individual-room {
  width: 200px;
  overflow-wrap: normal;
  border: 2px solid $title-color;
  margin: 4px;
  padding: 4px;
}

.individual-room:hover {
  cursor: pointer;
  box-shadow: 8px 8px 4px gray;
}

.book-room-section {
  text-align: center;
}

.book-this-room {
  background-color: $dark-blue-bg;
}

.manager-activity {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.delete-header {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 180%;
  margin-top: 0;
}

.mgr-customer-reservations {
  border: 1px solid $title-color;
  border-radius: 3px;
}

.find-res-text {
  font-size: 120%;
}

.mgr-id-input {
  border: 3px solid $dark-olive-color;
  border-radius: 3px;
  width: 232px;
  color: $dark-olive-color;
  font-size: 15px;
  padding: 5px;
}