/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixins';

* {
  font-family: 'Montserrat', sans-serif;
  color: $title-color;
  font-weight: 400;
}

body {
  background: url('../images/hogwarts-light.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 250%;
  color: $title-color;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
}

.login-screen {
  height: 1000px;
  width: 1000px;
  color: $title-color;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 130%;
  height: 20%;
  justify-content: space-between;
  width: 42%;
  margin-left: 60px;
}

.login-block {
  display: flex;
  flex-direction: column;
  width: 185px;
}

.login-label {
  padding: 4px;
}

input {
  color: $dark-olive-color;
  border-radius: 3px;
  border: 3px solid $dark-blue-bg;
  padding: 5px;
  height: 30px;
  font-size: 87%;
}

.login-btns {
  margin-top: 30px;
  background-color: $dark-olive-color;
  border: 3px solid $dark-blue-bg;
  border-radius: 3px;
  color: $title-color;
  height: 45px;
  width: 100%;
  font-size: 87%;
}

input,
::placeholder {
  color: $dark-olive-color;
}

.customer-view {
  background-color: $dark-blue-bg;
  opacity: 90%;
  border: 6px ridge $title-color;
  height: 100vh;
  width: 95%;
  margin-left: 25px; 
}

.manager-view {
  background-color: $dark-olive-color;
  opacity: 90%;
  border: 6px ridge $title-color;
  height: 100vh;
  width: 95%;
  margin-left: 25px; 
}

.daily-displays {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.display-todays-date {
  font-family: 'Cinzel', serif;
  font-size: 245%;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.days-report {
  font-size: 180%;
}

.display-rooms-available,
.display-percent-booked,
.display-total-revenue {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: -30px;
}

.num-stat {
  font-size: 165%;
  margin-left: 20px;
  font-weight: 600;
}